:root {
    --btn-bg-color: rgb(255 255 255 / 1);
    --btn-bg-color-hover: rgb(129 120 255 / 1);
    --font-color-white: rgb(255 255 255 / 1);
    --font-color-black: rgb(0 0 0 / 1);
}



a:focus,
button:focus {
    outline: none;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid #443ffc;
    outline-offset: 3px;
}

a:focus-visible {
    background: none;
}

.button-def {
    pointer-events: auto;
    cursor: pointer;
    background: var(--btn-bg-color);
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button-def::before,
.button-def::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-1 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3rem;
    overflow: hidden;
    color: var(--font-color-black);
    background-color: var(--btn-bg-color-hover);

}

.button-1 span {
    position: relative;
}

.button-1::before {
    content: '';
    background: var(--btn-bg-color);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button-1:hover::before {
    transform: translate3d(0, -100%, 0);
}

.button-2 {
    font-family: input-mono-narrow, monospace;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    overflow: hidden;
    background-color: var(--btn-bg-color-hover);
}

.button-2 span {
    display: block;
    position: relative;
}

.button-2>span {
    color: var(--font-color-black);

    overflow: hidden;
}

.button-2>span>span {
    color: var(--font-color-black);
    overflow: hidden;
}

.button-2:hover>span>span {
    color: var(--font-color-black);
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
    to {
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes MoveUpEnd {
    from {
        transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.button-2::before {
    content: '';
    background: var(--btn-bg-color);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
}

.button-2:hover::before {
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
}

.button-3 {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: var(--font-color-black);
    background-color: var(--btn-bg-color-hover);
}

.button-3 span {
    position: relative;

}

.button-3::before {
    content: '';
    background: var(--btn-bg-color);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button-3:hover::before {
    transform: translate3d(100%, 0, 0);
}

.button-4 {
    font-family: signo, sans-serif;
    font-weight: 500;
}

.button-4>span {

    display: inline-block;
}

.button-4:hover>span {
    opacity: 0;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 1s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

.button-4:hover .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.marquee span {
    text-align: center;
    white-space: nowrap;
    font-style: italic;
    padding: 1.5rem 0.5rem;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.button-5 {
    font-family: freight-display-pro, serif;
    font-weight: 900;
    font-size: 1.25rem;
    border-radius: 50%;
    border: 2px solid #000;
}

.button-5>span {
    display: inline-block;
    transition: opacity 0.1s;
}

.button-5:hover>span {
    opacity: 0;
}

.button-5 .marquee {
    transform: rotate(-2.75deg);
}

.button-5:hover .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.6s;
}

.button-6 {
    background: var(--btn-bg-color-hover);
    font-weight: 700;
    padding: 0;
    border-radius: 5px;
}

.button-6 span {
    display: block;
    background: var(--btn-bg-color);
    padding: 1.5rem 2rem;
    border: 1px solid #000;
    border-radius: 5px;
    transform: translate3d(-4px, -4px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button-6:hover span {
    transform: translate3d(-8px, -8px, 0);
}


/* add your css of buttons from here  */


/* button-1 or name of button start  */
    /* css here */
/* button-1 or name of button end */

/* button-7 ... or name of button start  */
/* css here */
/* button-7... or name of button end */

.button--shiny-gradient * {
	font-family: Verdana, Geneva, sans-serif !important;
	color: white;
}
.button--shiny-gradient  {
	font-size: 1.2rem;
	font-weight: 600;
	border: none;
	border-radius: 0.8rem;
	padding: 1.5rem 2.8rem;
	background-color: rgb(110, 217, 249);
	background: linear-gradient(
		165deg,
		rgb(32, 114, 247) 20%,
		rgb(110, 217, 249) 45%,
		rgb(32, 114, 247) 80%
	  );
	background-size: 350%;
	background-position: left;
	box-shadow: 
		0 0 0.2rem rgba(110, 217, 249, 0.8),
		0 0.2rem 0.8rem -0.2rem rgba(32, 114, 247, 0.8),
		inset 0.5rem 0.5rem 0.5rem rgba(110, 217, 249, 0.6),
		inset -0.5rem -0.5rem 0.5rem rgba(32, 114, 247, 0.6);

	transition: background-position 400ms ease-in-out,
	box-shadow 600ms ease-in-out;
	-webkit-transition: background-position 400ms ease-in-out,
	-webkit-box-shadow 600ms ease-in-out;
}

.button--shiny-gradient:hover {
	background-position: right;
	box-shadow: 0 0.5rem 2rem rgba(110, 217, 249, 0.8),
	  0 2rem 2rem -2.5rem rgba(32, 114, 247, 0.8),
	  inset 0.6rem 0.6rem 0.6rem rgba(110, 217, 249, 0.8),
	  inset -0.6rem -0.6rem 0.6rem rgba(4, 86, 219, 0.8);
  }

  .button-8 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
  .button-8:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-8:active {
    color: #000
}

.button-8:active:after {
    background: transparent;
}

.button-8:hover:before {
    opacity: 1;
}

.button-8:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* -------------------------------------------------------------button 9----------------------------------------------------- */
.button-9 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-9::after,
    .button-9::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
.button-9::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }
  
.button-9::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
.button-9:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
 .button-9:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }

  .button-9:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

  /* -------------------------------------------------------------button 10----------------------------------------------------- */
.btn-10 a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 10px;
   
}
.btn-10 a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btn-10 a:nth-child(1){
    filter: hue-rotate(270deg);
}
.btn-10 a:nth-child(2){
    filter: hue-rotate(110deg);
}
.btn-10 a span{
    position: absolute;
    display: block;
}
.btn-10 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btn-10 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btn-10 a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.btn-10 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


