/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

a:focus-visible {
	background: none;
}

/* Contributor - AmitSahoo45 */
/* Button designing starts from here */
.buttonDesign_01 {
	background-color: white;
	color: black;
	border-radius: 10em;
	font-size: 17px;
	font-weight: 600;
	padding: 1em 2em;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 1px solid black;
	box-shadow: 0 0 0 0 black;
}

.buttonDesign_01:hover {
	transform: translateY(-4px) translateX(-2px);
	box-shadow: 2px 5px 0 0 black;
}

.buttonDesign_01:active {
	transform: translateY(2px) translateX(1px);
	box-shadow: 0 0 0 0 black;
}

.buttonDesign_02 {
	width: fit-content;
	height: 45px;
	background: #ffffff0d;
	border-radius: 8px;
	border: 2px solid #334b79;
	font-size: 15px;
	font-weight: bold;
	color: #334b79;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	position: relative;
	overflow: hidden;
	padding: 10px 25px;
	z-index: 1;
}

.buttonDesign_02:before {
	width: 50%;
	height: 100%;
	content: "";
	margin: auto;
	position: absolute;
	top: 0%;
	left: -50%;
	background: #334b79;
	transition: all 0.5s ease;
	z-index: -1;
}

.buttonDesign_02:after {
	width: 50%;
	height: 100%;
	content: "";
	margin: auto;
	position: absolute;
	top: 0%;
	left: 100%;
	background: #334b79;
	transition: all 0.5s ease;
	z-index: -1;
}

.buttonDesign_02:hover {
	color: white;
	cursor: pointer;
}

.buttonDesign_02:hover:before {
	top: 0;
	left: 0;
}

.buttonDesign_02:hover:after {
	top: 0;
	left: 50%;
}

.buttonDesign_03 {
	--color: #0077ff;
	font-family: inherit;
	display: inline-block;
	width: 6em;
	height: 2.6em;
	line-height: 2.5em;
	overflow: hidden;
	margin: 20px;
	font-size: 17px;
	z-index: 1;
	color: var(--color);
	border: 2px solid var(--color);
	border-radius: 6px;
	position: relative;
}

.buttonDesign_03::before {
	position: absolute;
	content: "";
	background: var(--color);
	width: 150px;
	height: 200px;
	z-index: -1;
	border-radius: 50%;
}

.buttonDesign_03:hover {
	color: white;
}

.buttonDesign_03:before {
	top: 100%;
	left: 100%;
	transition: .3s all;
}

.buttonDesign_03:hover::before {
	top: -30px;
	left: -30px;
}


.buttonDesign_04 {
	background: #2389e9;
	padding: 30px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	transition: all .5s ease-in-out;
}

.buttonDesign_04:hover {
	border-radius: 50%;
	transition: all .5s ease-in-out;
}

.buttonDesign_04:hover:before {
	margin-left: 0%;
	transform: rotate(24deg);
}

.buttonDesign_04::before {
	content: "";
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNzUycHQiIGhlaWdodD0iNzUycHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDc1MiA3NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBkPSJtNTczLjE4IDE5OC42MnYwbC0zOTYuMDkgNjMuNzE5Yy03Ljc1IDAuODU5MzgtOS40NzI3IDExLjE5NS0zLjQ0NTMgMTUuNWw5Ny4zMDEgNjguODgzLTE1LjUgMTEyLjhjLTAuODU5MzggNy43NSA3Ljc1IDEyLjkxNCAxMy43NzcgNy43NWw1NS4xMDktNDQuNzczIDI2LjY5MSAxMjQuODVjMS43MjI3IDcuNzUgMTEuMTk1IDkuNDcyNyAxNS41IDIuNTgybDIxNS4yNy0zMzguMzljMy40NDE0LTYuMDI3My0xLjcyNjYtMTMuNzc3LTguNjEzMy0xMi45MTR6bS0zNzIuODQgNzYuNjMzIDMxMy40Mi00OS45NDEtMjMzLjM0IDEwNy42M3ptNzQuMDUxIDE2NS4zMiAxMi45MTQtOTIuMTMzYzgwLjkzOC0zNy4wMjcgMTM5LjQ5LTY0LjU3OCAyMjkuMDQtMTA1LjkxLTEuNzE4OCAxLjcyMjctMC44NTkzNyAwLjg1OTM4LTI0MS45NSAxOTguMDR6bTg4LjY4OCA4Mi42Ni0yNC4xMDktMTEyLjggMTk5Ljc3LTE2Mi43NHoiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==");
	height: 50px;
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	transition: all .9s ease-in-out;
	background-size: 100%;
}

.buttonDesign_05 {
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 8px;
	border-radius: 30px;
	border: none;
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	color: #fff;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.buttonDesign_05>* {
	display: inline-block;
	transition: all ease-in-out .5s;
}

.btn__visible {
	padding: 1.2rem 3rem;
	text-align: center;
}

.btn__invisible {
	width: 100%;
	position: absolute;
	padding: 1.2rem 0;
	left: 0;
	top: -100%;
}

.buttonDesign_05:hover {
	background-image: linear-gradient(160deg, #f093fb 0%, #f5576c 100%);
}

.buttonDesign_05:hover .btn__visible {
	transform: translateY(100%);
}

.buttonDesign_05:hover .btn__invisible {
	top: 0;
}

.buttonDesign_05:focus {
	outline: none;
}

/* Button Designing ends here */

.button-def {
	pointer-events: auto;
	cursor: pointer;
	background: #794242;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button-def::before,
.button-def::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pan {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 3rem;
	overflow: hidden;
	color: #fff;
}

.button--pan span {
	position: relative;
	mix-blend-mode: difference;
}

.button--pan::before {
	content: '';
	background: rgb(129, 120, 255);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
	transform: translate3d(0, -100%, 0);
}

.button--hyperion {
	font-family: input-mono-narrow, monospace;
	font-weight: 500;
	padding: 1rem 1.5rem;
	border: 1px solid #000;
	overflow: hidden;
	color: #fff;
}

.button--hyperion span {
	display: block;
	position: relative;
}

.button--hyperion>span {
	overflow: hidden;
}

.button--hyperion>span>span {
	overflow: hidden;
	mix-blend-mode: difference;
}

.button--hyperion:hover>span>span {
	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
	to {
		transform: translate3d(0, -105%, 0);
	}
}

@keyframes MoveUpEnd {
	from {
		transform: translate3d(0, 100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.button--hyperion::before {
	content: '';
	background: #000;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
	transform-origin: 100% 50%;
}

.button--hyperion:hover::before {
	transform: scale3d(0, 1, 1);
	transform-origin: 0% 50%;
}

.button--mimas {
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 0.85rem;
	border-radius: 0.5rem;
	overflow: hidden;
	color: #fff;
	background: #e7e7e7;
}

.button--mimas span {
	position: relative;
	mix-blend-mode: difference;
}

.button--mimas::before {
	content: '';
	background: #000;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%, 0, 0);
}

.button--atlas {
	font-family: signo, sans-serif;
	font-weight: 500;
}

.button--atlas>span {
	display: inline-block;
}

.button--atlas:hover>span {
	opacity: 0;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	--offset: 1rem;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 1s linear infinite;
	animation-play-state: paused;
	opacity: 0;
}

.button--atlas:hover .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
	white-space: nowrap;
	font-style: italic;
	padding: 1.5rem 0.5rem;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

.button--kari {
	font-family: freight-display-pro, serif;
	font-weight: 900;
	font-size: 1.25rem;
	border-radius: 50%;
	border: 2px solid #000;
}

.button--kari>span {
	display: inline-block;
	transition: opacity 0.1s;
}

.button--kari:hover>span {
	opacity: 0;
}

.button--kari .marquee {
	transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.6s;
}

.button--pandora {
	background: #000;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
}

.button--pandora span {
	display: block;
	background: #a7a7a7;
	padding: 1.5rem 2rem;
	border: 1px solid #000;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pandora:hover span {
	transform: translate3d(-8px, -8px, 0);
}




/* add your css of buttons from here  */

/* button-1 or name of button start  */
/* css here */
/* button-1 or name of button end */