.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Sublime Text Editor
*.sublime-project
*.sublime-workspace

# Random crap
trash
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
*~

# Environment Variables ( If Any )
.env
.env-development
.env-production

# Logs
logs
*.log