* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --bg-btn-card: #141417;
    --forground-main-color: rgb(255 255 255 / 1);
    --background-main-color: rgb(0, 0, 0);
    --card-border-radius: 30px;
    --default-color: rgba(156, 163, 175);
    --link-hover-color: rgb(129 120 255 / 1);
    --default-link-color: rgb(129 120 255 / 1);
}

body {
    padding: 0 20px;
    max-width: 1100px;
    margin: 3rem auto;
    background-color: var(--background-main-color);
    color: var(--forground-main-color);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(64, 63, 63);
}

body::-webkit-scrollbar-thumb {
    border-radius: 11px;
    /* -webkit-box-shadow: inset -5px 0px 29px 0 #ec4896; */
    background-color: rgb(99, 99, 99);
}

main {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 3rem;
    padding-top: 0rem;
    font-weight: 700;
}

.content-text {
    padding: 1rem 0rem 3rem 0rem;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18rem;
    height: 18rem;
    background-color: var(--bg-btn-card);
    transition: 0.4s;
    border-radius: var(--card-border-radius);
    flex-direction: column;
    position: relative;
}

.button-container:hover {
    transform: translateY(-5px);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.createdby-section {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: #212128;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}

.createdby-section a {
    color: rgb(129 120 255 / 1);
    text-decoration: none;
}

.btn-def-text {
    margin-top: 20px;
}


/* footer stat here  */
.footer-main {
    margin-top: 2rem;
}

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1.25rem;
    flex-direction: column;
}


@media (min-width: 1280px) {
    .footer-container {
        max-width: 1280px;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        max-width: 1024px;
    }
}

@media (min-width: 768px) {
    .footer-container {
        max-width: 768px;
    }
}

@media (min-width: 640px) {
    .footer-container {
        flex-direction: row;
        max-width: 640px;
    }
}




.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
}

@media (min-width: 768px) {
    .footer-title {
        justify-content: flex-start;
    }
}

.footer-copyright {
    margin-top: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--default-color)
}

@media (min-width: 640px) {
    .footer-copyright {
        padding: 0.5rem 0 0.5rem 1rem;
        margin-left: 1rem;
        margin: 0 0 0 1rem;
        border-left-width: 2px;
        border-color: rgba(31, 41, 55);
    }
}

.footer-copyright>a {
    color: rgb(129 120 255 / 1)
}

.socials-span {
    margin-top: 1rem;
    justify-content: center;
    display: inline-flex;
}

@media (min-width: 640px) {
    .socials-span {
        margin-left: auto;
        margin-top: 0;
        justify-content: flex-start;
    }
}


.socials-span>a {
    color: var(--default-color);
}

.socials-span>a:hover {
    color: var(--link-hover-color);
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.socials-span>a:not(:first-child) {
    margin-left: 0.75rem;
}

.socials-span>a>svg {
    width: 1.25rem;
    height: 1.25rem;
}


/* footer ends here */